html {
    font-size: 10px;
    background:url(https://images.unsplash.com/photo-1580432551600-8c9768628a9e?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80) bottom center;
    background-size: auto;
}

body, html{
    margin:0;
    padding: 0;
    font-family: sans-serif;
}

.keys{
    display: flex;
    flex:1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.key{
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .7s ease;
    width: 10rem;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
}

.playing{
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}

kbd {
    display: block;
    font-size: 4rem;
    text-align: center;
}

.sound{
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color:#ffc600;
}