*{
  align-items: center;
}

:root {
    --base:#ffc600;
    --spacing:10px;
    --blur:10px;
}

img {
    padding:var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}

.hl {
    color:var(--base);

}

body {
    text-align: center;
    background: #193549;
    color:white;
    font-family: 'helvetica nenu', sans-serif;
    font-size: 50px;;
    font-weight: 100;
}


.controls {
    margin-bottom: 50px;
}

input {
    width: 100px;
}